*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(9, 48, 56);
    color: black;
}

.header{
    display: flex;
    padding: 10px 25px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}
.sigla-va{
    width: 80px;
}
.logo-black{
    width: 100px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.buttonHeader{
    background-color: transparent;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    transition: 0.3s;
}
.buttonHeader:hover{
    border-color: #ff0044;
}
.paragrafo{
    font-size: 34px;
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: center;
}
.img-eu{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.conteudo{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
}